# commento
N 6
dt .1
steps 1 # commento
G 1     
eps .1

# body massa pos_x pos_y vel_x vel_y
# manca un valore diverso per ogni body
  body        1     1     1     1
  body  1           1     1     1
  body  1     1           1     1   
  body  1     1     1           1
  body  1     1     1     1