# Parametri simulazione Hénon (Famiglia BHH)
N 3
dt 0.001
steps 20000     # Aumentato per vedere più cicli dell'orbita
G 1.0           # Manteniamo G = 1 per consistenza con le unità adimensionali
eps 1e-12

# Corpi
# body id massa pos_x pos_y vel_x vel_y

body 1 1.0  -1.00000000  0.0  0.0  -0.93176412
body 2 1.0   1.00000000  0.0  0.0  -0.93176412
body 3 1.0   0.00000000  0.0  0.0   1.86352824